In [34]:
import pandas as pd

In [38]:
df = pd.read_csv('./data/company_register/2022_04_13.csv')
df = df[['company_name', 'business_line_code', 'postal_post_code']]

post_code_region_mapping = pd.read_csv('./data/region_city_data/post_code_to_region.csv', dtype={'post_code': str})
post_code_region_mapping = post_code_region_mapping.set_index('post_code').to_dict()['region']

df['postal_region'] = df['postal_post_code'].map(post_code_region_mapping)

In [39]:
df['postal_post_code'].isna().sum()

3214

In [40]:
df['postal_region'].isna().sum()

23190

In [42]:
df.dropna(inplace=True)

In [43]:
df

,company_name,business_line_code,postal_post_code,postal_region
0,Profiteam Oy,79900,00500,Uusimaa
1,Ruskalinna Oy,79900,95700,Lappi
2,Saaga Safarit Oy Ukkohalla,79900,90100,Pohjois-Pohjanmaa
3,Oy SaariTours Ab,79120,10940,Uusimaa
4,Nordic JD Oy,79120,02620,Uusimaa
...,...,...,...,...
330352,Keijo Siikaluoma Oy,88109,90130,Pohjois-Pohjanmaa
330353,Stella Kotipalvelut Oy,88991,00380,Uusimaa
330354,Norlandia Päiväkodit Oy,88911,02600,Uusimaa
330355,Palvelukoti Länsituuli Oy,88101,00300,Uusimaa
330357,Etelä-Suomen Sosiaali-Info Oy,88999,04130,Uusimaa

In [44]:
df.to_csv('./data/company_register/2022_04_13_with_region.csv', index=False)