# Calculate educational attainment growth of regions in Finland

Data source: Statistic Finland

Table: 12bq -- Population aged 15 or over by level of education, municipality, gender and age, 1970-2022

Link: https://pxdata.stat.fi/PxWeb/pxweb/en/StatFin/StatFin__vkour/statfin_vkour_pxt_12bq.px/

In [73]:
import pandas as pd
import numpy as np

In [74]:
# Create the base with region column DataFrame
base_df = pd.read_csv('../data/Indices/population_density_index.csv')
base_df = base_df[['Region code', 'Region name (en)', 'Region name (fi)']].copy()

base_df

   Region code      Region name (en)   Region name (fi)
0         MK01               Uusimaa            Uusimaa
1         MK02     Southwest Finland    Varsinais-Suomi
2         MK04             Satakunta          Satakunta
3         MK05            Kanta-Häme         Kanta-Häme
4         MK06             Pirkanmaa          Pirkanmaa
5         MK07           Päijät-Häme        Päijät-Häme
6         MK08           Kymenlaakso        Kymenlaakso
7         MK09         South Karelia      Etelä-Karjala
8         MK10            South Savo         Etelä-Savo
9         MK11            North Savo       Pohjois-Savo
10        MK12         North Karelia    Pohjois-Karjala
11        MK13       Central Finland        Keski-Suomi
12        MK14    South Ostrobothnia    Etelä-Pohjanmaa
13        MK15          Ostrobothnia          Pohjanmaa
14        MK16  Central Ostrobothnia    Keski-Pohjanmaa
15        MK17    North Ostrobothnia  Pohjois-Pohjanmaa
16        MK18                Kainuu             Kainuu
17        MK19               Lapland              Lappi
18        MK21                 Åland         Ahvenanmaa

In [75]:
import requests
import json

# Define the URL and JSON query
url = "https://pxdata.stat.fi:443/PxWeb/api/v1/en/StatFin/vkour/statfin_vkour_pxt_12bq.px"
query = {
  "query": [
    {
      "code": "Vuosi",
      "selection": {
        "filter": "item",
        "values": [
          "2018",
          "2022"
        ]
      }
    },
    {
      "code": "Alue",
      "selection": {
        "filter": "agg:_Regions 2023.agg",
        "values": [
          "MK01",
          "MK02",
          "MK04",
          "MK05",
          "MK06",
          "MK07",
          "MK08",
          "MK09",
          "MK10",
          "MK11",
          "MK12",
          "MK13",
          "MK14",
          "MK15",
          "MK16",
          "MK17",
          "MK18",
          "MK19",
          "MK21"
        ]
      }
    },
    {
      "code": "Ikä",
      "selection": {
        "filter": "item",
        "values": [
          "25-29",
          "30-34",
          "35-39",
          "40-44",
          "45-49",
          "50-54",
          "55-59",
          "60-64",
          "65-69",
          "70-74",
          "75-79",
          "80-"
        ]
      }
    },
    {
      "code": "Sukupuoli",
      "selection": {
        "filter": "item",
        "values": [
          "SSS"
        ]
      }
    },
    {
      "code": "Koulutusaste",
      "selection": {
        "filter": "item",
        "values": [
          "SSS",
          "6",
          "7",
          "8"
        ]
      }
    }
  ],
  "response": {
    "format": "json-stat2"
  }
}

# Send the POST request
response = requests.post(url, json=query)

# Check the response status and content
if response.status_code == 200:
    json_data = response.json()
else:
    print("Request failed with status code:", response.status_code)

json_data

{'class': 'dataset',
 'label': 'Population aged 15 or over by level of education, municipality, gender and age by Year, Area, Age, Gender, Level of education and Information',
 'source': 'Statistics Finland, educational structure of population',
 'updated': '2023-10-03T05:00:00Z',
 'id': ['Vuosi', 'Alue', 'Ikä', 'Sukupuoli', 'Koulutusaste', 'Tiedot'],
 'size': [2, 19, 12, 1, 4, 1],
 'dimension': {'Vuosi': {'extension': {'show': 'value'},
   'label': 'Year',
   'category': {'index': {'2018': 0, '2022': 1},
    'label': {'2018': '2018', '2022': '2022'}}},
  'Alue': {'extension': {'show': 'value'},
   'label': 'Area',
   'category': {'index': {'MK01': 0,
     'MK02': 1,
     'MK04': 2,
     'MK05': 3,
     'MK06': 4,
     'MK07': 5,
     'MK08': 6,
     'MK09': 7,
     'MK10': 8,
     'MK11': 9,
     'MK12': 10,
     'MK13': 11,
     'MK14': 12,
     'MK15': 13,
     'MK16': 14,
     'MK17': 15,
     'MK18': 16,
     'MK19': 17,
     'MK21': 18},
    'label': {'MK01': 'MK01 Uusimaa',
     'MK02': 'MK02 Southwest Finland',
     'MK04': 'MK04 Satakunta',
     'MK05': 'MK05 Kanta-Häme',
     'MK06': 'MK06 Pirkanmaa',
     'MK07': 'MK07 Päijät-Häme',
     'MK08': 'MK08 Kymenlaakso',
     'MK09': 'MK09 South Karelia',
     'MK10': 'MK10 South Savo',
     'MK11': 'MK11 North Savo',
     'MK12': 'MK12 North Karelia',
     'MK13': 'MK13 Central Finland',
     'MK14': 'MK14 South Ostrobothnia',
     'MK15': 'MK15 Ostrobothnia',
     'MK16': 'MK16 Central Ostrobothnia',
     'MK17': 'MK17 North Ostrobothnia',
     'MK18': 'MK18 Kainuu',
     'MK19': 'MK19 Lapland',
     'MK21': 'MK21 Åland'}},
   'link': {'describedby': [{'extension': {'Alue': 'SCALE-TYPE=nominal'}}]}},
  'Ikä': {'extension': {'show': 'value'},
   'label': 'Age',
   'category': {'index': {'25-29': 0,
     '30-34': 1,
     '35-39': 2,
     '40-44': 3,
     '45-49': 4,
     '50-54': 5,
     '55-59': 6,
     '60-64': 7,
     '65-69': 8,
     '70-74': 9,
     '75-79': 10,
     '80-': 11},
    'label': {'25-29': '25 - 29',
     '30-34': '30 - 34',
     '35-39': '35 - 39',
     '40-44': '40 - 44',
     '45-49': '45 - 49',
     '50-54': '50 - 54',
     '55-59': '55 - 59',
     '60-64': '60 - 64',
     '65-69': '65 - 69',
     '70-74': '70 - 74',
     '75-79': '75 - 79',
     '80-': '80 -'}},
   'link': {'describedby': [{'extension': {'Ikä': 'SCALE-TYPE=ordinal'}}]}},
  'Sukupuoli': {'extension': {'show': 'value'},
   'label': 'Gender',
   'category': {'index': {'SSS': 0}, 'label': {'SSS': 'Total'}},
   'link': {'describedby': [{'extension': {'Sukupuoli': 'SCALE-TYPE=nominal'}}]}},
  'Koulutusaste': {'extension': {'show': 'value'},
   'label': 'Level of education',
   'category': {'index': {'SSS': 0, '6': 1, '7': 2, '8': 3},
    'label': {'SSS': 'Total',
     '6': "6 Bachelor's or equivalent level",
     '7': "7 Master's or equivalent level",
     '8': '8 Doctoral or equivalent level'}},
   'link': {'describedby': [{'extension': {'Koulutusaste': 'SCALE-TYPE=ordinal'}}]}},
  'Tiedot': {'extension': {'show': 'value'},
   'label': 'Information',
   'category': {'index': {'vaesto': 0},
    'label': {'vaesto': 'Population aged 15 or over 31.12'},
    'unit': {'vaesto': {'base': 'Henkilö', 'decimals': 0}}}}},
 'value': [126901,
  31153,
  15639,
  187,
  126772,
  29890,
  27680,
  1466,
  125614,
  29043,
  30176,
  2720,
  118076,
  23643,
  27936,
  3253,
  103968,
  13620,
  22388,
  2725,
  114926,
  11059,
  20953,
  2854,
  105742,
  8842,
  17711,
  2530,
  94018,
  8875,
  13820,
  2168,
  88451,
  8073,
  10506,
  1932,
  84602,
  8013,
  9574,
  1772,
  51139,
  4455,
  5200,
  1118,
  65954,
  4478,
  4673,
  887,
  31301,
  7629,
  2466,
  36,
  29563,
  7000,
  4417,
  282,
  30169,
  6989,
  4995,
  530,
  29777,
  5463,
  4974,
  712,
  27546,
  3142,
  3907,
  646,
  32014,
  2792,
  3911,
  587,
  30950,
  2230,
  3358,
  556,
  30832,
  2312,
  2608,
  486,
  31954,
  2055,
  2131,
  417,
  30626,
  1933,
  1838,
  429,
  18756,
  1186,
  1004,
  236,
  28313,
  1281,
  818,
  189,
  11409,
  2232,
  486,
  4,
  11781,
  2697,
  969,
  19,
  12466,
  3012,
  1362,
  43,
  12380,
  2506,
  1418,
  60,
  12108,
  1546,
  1174,
  71,
  14752,
  1247,
  1229,
  90,
  15249,
  1050,
  1115,
  76,
  15807,
  1029,
  920,
  81,
  16932,
  936,
  662,
  52,
  15663,
  831,
  516,
  32,
  10140,
  490,
  356,
  41,
  15344,
  543,
  242,
  15,
  8579,
  1546,
  301,
  0,
  9156,
  1944,
  726,
  11,
  10108,
  2332,
  1149,
  49,
  10544,
  2031,
  1352,
  79,
  10165,
  1182,
  1180,
  87,
  11959,
  1004,
  1159,
  105,
  12293,
  873,
  1069,
  91,
  12251,
  776,
  847,
  96,
  12584,
  769,
  678,
  87,
  11704,
  622,
  597,
  77,
  7229,
  382,
  332,
  36,
  10721,
  415,
  278,
  34,
  35549,
  8597,
  3101,
  20,
  34547,
  8442,
  5699,
  261,
  34589,
  8477,
  6845,
  528,
  32866,
  6745,
  6554,
  671,
  29452,
  3737,
  5013,
  576,
  32632,
  3134,
  4575,
  600,
  32299,
  2537,
  3763,
  496,
  31711,
  2469,
  2806,
  437,
  32519,
  2105,
  2169,
  420,
  30500,
  1976,
  1666,
  322,
  19246,
  1147,
  978,
  160,
  28579,
  1265,
  745,
  130,
  11208,
  2159,
  430,
  1,
  11156,
  2529,
  982,
  22,
  11797,
  2831,
  1334,
  62,
  12130,
  2474,
  1449,
  65,
  11825,
  1545,
  1282,
  66,
  14247,
  1290,
  1296,
  83,
  14372,
  1055,
  1231,
  99,
  14786,
  1018,
  961,
  80,
  16215,
  923,
  743,
  86,
  15136,
  843,
  616,
  61,
  9501,
  466,
  357,
  41,
  13124,
  593,
  355,
  43,
  8261,
  1518,
  306,
  2,
  8527,
  1823,
  692,
  14,
  9270,
  2056,
  983,
  23,
  9571,
  1783,
  953,
  34,
  9670,
  1121,
  900,
  36,
  11764,
  1037,
  984,
  43,
  12444,
  898,
  876,
  43,
  12756,
  826,
  708,
  39,
  13243,
  754,
  571,
  34,
  12570,
  675,
  518,
  36,
  7949,
  401,
  323,
  19,
  11733,
  439,
  255,
  18,
  6768,
  1426,
  501,
  12,
  6697,
  1548,
  775,
  70,
  7089,
  1597,
  978,
  92,
  7333,
  1406,
  1005,
  94,
  7265,
  911,
  852,
  85,
  8769,
  756,
  882,
  102,
  9403,
  665,
  802,
  76,
  9797,
  662,
  621,
  80,
  10047,
  526,
  410,
  62,
  8912,
  450,
  341,
  39,
  6184,
  287,
  227,
  31,
  9324,
  338,
  179,
  10,
  6216,
  1292,
  291,
  6,
  6604,
  1608,
  560,
  14,
  6501,
  1583,
  697,
  19,
  6815,
  1323,
  820,
  48,
  7088,
  850,
  751,
  55,
  9348,
  836,
  802,
  66,
  10619,
  763,
  784,
  55,
  11655,
  712,
  671,
  66,
  12024,
  661,
  545,
  53,
  10730,
  513,
  457,
  48,
  7169,
  333,
  255,
  27,
  10925,
  456,
  239,
  18,
  14630,
  3249,
  843,
  14,
  14403,
  3428,
  1681,
  109,
  14384,
  3694,
  1953,
  224,
  13389,
  2801,
  1761,
  295,
  13314,
  1711,
  1592,
  250,
  16597,
  1445,
  1586,
  250,
  18413,
  1235,
  1511,
  262,
  19061,
  1129,
  1248,
  232,
  18972,
  976,
  905,
  159,
  16154,
  794,
  697,
  122,
  10481,
  498,
  341,
  55,
  16048,
  668,
  270,
  32,
  9745,
  2227,
  624,
  9,
  9099,
  2155,
  1055,
  64,
  9056,
  2143,
  1258,
  122,
  8502,
  1755,
  1085,
  146,
  8123,
  1040,
  992,
  157,
  10299,
  976,
  1048,
  171,
  12536,
  818,
  1038,
  143,
  13611,
  734,
  740,
  134,
  13369,
  651,
  575,
  100,
  11226,
  478,
  392,
  67,
  7252,
  315,
  218,
  40,
  10889,
  468,
  194,
  24,
  17596,
  4278,
  1382,
  25,
  16260,
  3864,
  2180,
  162,
  16470,
  3922,
  2704,
  314,
  15998,
  3194,
  2623,
  366,
  14615,
  1914,
  2171,
  288,
  16590,
  1463,
  1979,
  298,
  18485,
  1328,
  1879,
  264,
  18336,
  1215,
  1354,
  251,
  18669,
  1119,
  1110,
  218,
  16706,
  963,
  874,
  151,
  10810,
  587,
  431,
  93,
  15661,
  691,
  341,
  56,
  10193,
  2255,
  409,
  4,
  10480,
  2612,
  838,
  11,
  11123,
  2850,
  1245,
  37,
  10745,
  2197,
  1172,
  35,
  10359,
  1235,
  923,
  42,
  12476,
  880,
  1030,
  53,
  13327,
  709,
  842,
  44,
  14099,
  770,
  671,
  54,
  14252,
  663,
  509,
  44,
  12635,
  527,
  361,
  31,
  8030,
  353,
  188,
  7,
  13152,
  471,
  179,
  7,
  11097,
  2840,
  991,
  8,
  10553,
  2657,
  1575,
  38,
  10943,
  2850,
  2015,
  86,
  10340,
  2218,
  1719,
  119,
  9960,
  1268,
  1472,
  104,
  10710,
  1019,
  1336,
  115,
  10455,
  793,
  1085,
  83,
  10749,
  931,
  832,
  82,
  11109,
  788,
  559,
  84,
  10614,
  666,
  444,
  60,
  6985,
  339,
  238,
  33,
  11126,
  463,
  189,
  30,
  3720,
  778,
  176,
  0,
  4028,
  981,
  346,
  5,
  4016,
  1089,
  482,
  14,
  3918,
  841,
  426,
  22,
  3605,
  457,
  366,
  18,
  4134,
  316,
  386,
  25,
  4336,
  231,
  346,
  24,
  4373,
  299,
  253,
  26,
  4711,
  214,
  183,
  21,
  4307,
  165,
  126,
  16,
  2665,
  96,
  68,
  10,
  3933,
  151,
  38,
  1,
  26081,
  5657,
  2099,
  19,
  25204,
  5907,
  3406,
  216,
  26360,
  6453,
  4350,
  431,
  25272,
  5629,
  4237,
  459,
  22014,
  3478,
  3332,
  397,
  24611,
  2654,
  3033,
  448,
  25450,
  1992,
  2504,
  395,
  25912,
  1759,
  1831,
  393,
  25001,
  1435,
  1360,
  336,
  20447,
  1105,
  1008,
  237,
  13558,
  729,
  489,
  139,
  19679,
  871,
  317,
  89,
  3559,
  818,
  116,
  1,
  3678,
  876,
  297,
  6,
  3827,
  943,
  442,
  15,
  3603,
  712,
  461,
  20,
  3693,
  500,
  336,
  23,
  4864,
  456,
  413,
  21,
  5879,
  347,
  409,
  26,
  6393,
  337,
  361,
  22,
  6229,
  286,
  254,
  25,
  5119,
  234,
  201,
  12,
  3454,
  159,
  85,
  5,
  5276,
  181,
  51,
  8,
  10285,
  2118,
  566,
  4,
  10084,
  2282,
  1071,
  27,
  10088,
  2342,
  1297,
  51,
  9250,
  1821,
  1207,
  76,
  8852,
  1169,
  975,
  77,
  11645,
  1039,
  1138,
  92,
  14011,
  968,
  1036,
  87,
  14497,
  847,
  861,
  84,
  13967,
  759,
  650,
  63,
  11154,
  575,
  406,
  55,
  7517,
  366,
  196,
  16,
  11318,
  447,
  169,
  7,
  1774,
  336,
  95,
  1,
  1804,
  393,
  190,
  6,
  1881,
  368,
  239,
  11,
  1856,
  347,
  214,
  9,
  1956,
  254,
  246,
  9,
  2212,
  225,
  197,
  7,
  1970,
  143,
  163,
  6,
  1917,
  150,
  131,
  12,
  1960,
  172,
  96,
  16,
  1855,
  130,
  94,
  12,
  1194,
  95,
  49,
  8,
  1611,
  122,
  48,
  10,
  124583,
  30141,
  17071,
  92,
  140324,
  32468,
  29162,
  1165,
  131283,
  28681,
  30841,
  2535,
  125865,
  27499,
  31548,
  3307,
  114834,
  20888,
  27682,
  3379,
  105634,
  12741,
  22769,
  2922,
  111888,
  10411,
  20390,
  2883,
  97857,
  8212,
  16581,
  2469,
  86664,
  8423,
  12675,
  2143,
  83396,
  7838,
  9958,
  1828,
  70049,
  6818,
  8242,
  1592,
  75832,
  6032,
  6570,
  1353,
  30952,
  7441,
  2997,
  21,
  32279,
  7762,
  4658,
  218,
  30568,
  7011,
  5110,
  527,
  30713,
  6847,
  5499,
  687,
  29156,
  4844,
  4948,
  753,
  28890,
  3125,
  4087,
  638,
  31918,
  2663,
  3966,
  589,
  30026,
  2189,
  3281,
  568,
  30353,
  2298,
  2539,
  457,
  30712,
  1973,
  2020,
  425,
  ...],
 'role': {'time': ['Vuosi'], 'metric': ['Tiedot']},
 'version': '2.0',
 'extension': {'px': {'tableid': 'statfin_vkour_pxt_12bq', 'decimals': 0}}}

In [76]:
values = json_data['value']
shape = json_data['size']

# Load values into a 1D NumPy array
values = np.array(values).reshape(shape).squeeze()
# reshape = np.reshape(values, (19,12,6))
# print(reshape.shape)
# reshape
# print(values.shape)
# values
np.rollaxis(values, 0, -1).reshape(19,12,8)[:2,:,:]

array([[[126901,  31153,  15639,    187, 124583,  30141,  17071,     92],
        [126772,  29890,  27680,   1466, 140324,  32468,  29162,   1165],
        [125614,  29043,  30176,   2720, 131283,  28681,  30841,   2535],
        [118076,  23643,  27936,   3253, 125865,  27499,  31548,   3307],
        [103968,  13620,  22388,   2725, 114834,  20888,  27682,   3379],
        [114926,  11059,  20953,   2854, 105634,  12741,  22769,   2922],
        [105742,   8842,  17711,   2530, 111888,  10411,  20390,   2883],
        [ 94018,   8875,  13820,   2168,  97857,   8212,  16581,   2469],
        [ 88451,   8073,  10506,   1932,  86664,   8423,  12675,   2143],
        [ 84602,   8013,   9574,   1772,  83396,   7838,   9958,   1828],
        [ 51139,   4455,   5200,   1118,  70049,   6818,   8242,   1592],
        [ 65954,   4478,   4673,    887,  75832,   6032,   6570,   1353]],

       [[ 31301,   7629,   2466,     36,  30952,   7441,   2997,     21],
        [ 29563,   7000,   4417,    282,  32279,   7762,   4658,    218],
        [ 30169,   6989,   4995,    530,  30568,   7011,   5110,    527],
        [ 29777,   5463,   4974,    712,  30713,   6847,   5499,    687],
        [ 27546,   3142,   3907,    646,  29156,   4844,   4948,    753],
        [ 32014,   2792,   3911,    587,  28890,   3125,   4087,    638],
        [ 30950,   2230,   3358,    556,  31918,   2663,   3966,    589],
        [ 30832,   2312,   2608,    486,  30026,   2189,   3281,    568],
        [ 31954,   2055,   2131,    417,  30353,   2298,   2539,    457],
        [ 30626,   1933,   1838,    429,  30712,   1973,   2020,    425],
        [ 18756,   1186,   1004,    236,  25681,   1682,   1599,    378],
        [ 28313,   1281,    818,    189,  30315,   1701,   1277,    287]]])

In [77]:
import pandas as pd
import numpy as np

json_year = json_data['dimension']['Vuosi']['category']['label'].values()
json_region = json_data['dimension']['Alue']['category']['label'].values()
json_age = json_data['dimension']['Ik\u00e4']['category']['label'].values()
json_education = json_data['dimension']['Koulutusaste']['category']['label'].values()

In [78]:

# Create the nested index
tuples = []
for region in json_region:
    for age in json_age:
        tuples.append((region, age))

# Create the columns names
columns = []
for year in json_year:
    for education in json_education:
        columns.append(year + " " + education)


index = pd.MultiIndex.from_tuples(tuples, names=["Region", "Age Group"])

# Create a NumPy array from the value list
value_array = np.array(json_data['value'])
shape = json_data['size']

# Transform the NumPy array into the desired DataFrame view (19, 12, 8)
# Index being multiindex Region -> Age group (19,12)
# Columns being year + education (2*4 = 6)
transformed_array = np.array(value_array).reshape(shape).squeeze()
transformed_array = np.rollaxis(transformed_array, 0, -1).reshape(19,12,8)
transformed_array = transformed_array.reshape(19*12,8)

# Create a DataFrame from the value list with the nested index
df = pd.DataFrame(data=transformed_array, index=index, columns=columns)

# Print the DataFrame
df

                        2018 Total  2018 6 Bachelor's or equivalent level  \
Region       Age Group
MK01 Uusimaa 25 - 29        126901                                  31153
             30 - 34        126772                                  29890
             35 - 39        125614                                  29043
             40 - 44        118076                                  23643
             45 - 49        103968                                  13620
...                            ...                                    ...
MK21 Åland   60 - 64          1917                                    150
             65 - 69          1960                                    172
             70 - 74          1855                                    130
             75 - 79          1194                                     95
             80 -             1611                                    122

                        2018 7 Master's or equivalent level  \
Region       Age Group
MK01 Uusimaa 25 - 29                                  15639
             30 - 34                                  27680
             35 - 39                                  30176
             40 - 44                                  27936
             45 - 49                                  22388
...                                                     ...
MK21 Åland   60 - 64                                    131
             65 - 69                                     96
             70 - 74                                     94
             75 - 79                                     49
             80 -                                        48

                        2018 8 Doctoral or equivalent level  2022 Total  \
Region       Age Group
MK01 Uusimaa 25 - 29                                    187      124583
             30 - 34                                   1466      140324
             35 - 39                                   2720      131283
             40 - 44                                   3253      125865
             45 - 49                                   2725      114834
...                                                     ...         ...
MK21 Åland   60 - 64                                     12        1956
             65 - 69                                     16        1943
             70 - 74                                     12        1860
             75 - 79                                      8        1574
             80 -                                        10        1863

                        2022 6 Bachelor's or equivalent level  \
Region       Age Group
MK01 Uusimaa 25 - 29                                    30141
             30 - 34                                    32468
             35 - 39                                    28681
             40 - 44                                    27499
             45 - 49                                    20888
...                                                       ...
MK21 Åland   60 - 64                                      135
             65 - 69                                      170
             70 - 74                                      158
             75 - 79                                      104
             80 -                                         158

                        2022 7 Master's or equivalent level  \
Region       Age Group
MK01 Uusimaa 25 - 29                                  17071
             30 - 34                                  29162
             35 - 39                                  30841
             40 - 44                                  31548
             45 - 49                                  27682
...                                                     ...
MK21 Åland   60 - 64                                    160
             65 - 69                                    120
             70 - 74                                     93
             75 - 79                                     76
             80 -                                        72

                        2022 8 Doctoral or equivalent level
Region       Age Group
MK01 Uusimaa 25 - 29                                     92
             30 - 34                                   1165
             35 - 39                                   2535
             40 - 44                                   3307
             45 - 49                                   3379
...                                                     ...
MK21 Åland   60 - 64                                      4
             65 - 69                                     13
             70 - 74                                     15
             75 - 79                                      7
             80 -                                        12

[228 rows x 8 columns]

In [79]:
education_attainment = df.groupby(level=['Region']).sum().copy()
education_attainment

,2018 Total,2018 6 Bachelor's or equivalent level,2018 7 Master's or equivalent level,2018 8 Doctoral or equivalent level,2022 Total,2022 6 Bachelor's or equivalent level,2022 7 Master's or equivalent level,2022 8 Doctoral or equivalent level
Region,,,,,,,,
MK01 Uusimaa,1206163,181144,206256,23612,1268209,200152,233489,25668
MK02 Southwest Finland,351801,44012,36427,5106,361563,49536,41981,5548
MK04 Satakunta,164031,18119,10449,584,162051,19681,11409,597
MK05 Kanta-Häme,127293,13876,9668,752,128223,15603,10742,814
MK06 Pirkanmaa,374489,50631,43914,4621,390620,58720,51585,5169
MK07 Päijät-Häme,155497,17726,11036,709,156202,19475,12473,787
MK08 Kymenlaakso,127758,13331,8069,341,124671,14590,8683,361
MK09 South Karelia,97588,10572,7573,753,96255,11555,8286,834
MK10 South Savo,105694,10930,6872,475,103034,11706,7470,509
MK11 North Savo,185846,21628,14388,2004,186609,24247,16486,2175
MK12 North Karelia,123707,13760,9219,1177,123105,15015,10468,1246
MK13 Central Finland,196196,24538,19028,2486,199018,27215,21631,2709
MK14 South Ostrobothnia,140871,15522,8367,369,140280,17386,9420,402
MK15 Ostrobothnia,124641,16832,12455,842,125821,18354,13769,895
MK16 Central Ostrobothnia,47746,5618,3196,182,48087,6317,3650,198
MK17 North Ostrobothnia,279589,37669,27966,3559,287818,42391,32213,3907
MK18 Kainuu,55574,5849,3426,184,54338,6308,3781,181
MK19 Lapland,132668,14733,9572,639,132814,16657,10929,680
MK21 Åland,21990,2735,1762,107,22579,3002,1958,107

In [80]:
education_attainment.reset_index(inplace=True)
education_attainment['Region code'] = education_attainment['Region'].str[:4]

# Calculate ratio of Bachelor's, Master's and Doctoral degrees to total for each year
education_attainment["2018 Bachelor's Percentage"] = education_attainment["2018 6 Bachelor\'s or equivalent level"] / education_attainment['2018 Total'] * 100
education_attainment["2018 Master's Percentage"] = education_attainment["2018 7 Master\'s or equivalent level"] / education_attainment['2018 Total'] * 100
education_attainment["2018 Doctoral Percentage"] = education_attainment["2018 8 Doctoral or equivalent level"] / education_attainment['2018 Total'] * 100
education_attainment["2022 Bachelor's Percentage"] = education_attainment["2022 6 Bachelor\'s or equivalent level"] / education_attainment['2022 Total'] * 100
education_attainment["2022 Master's Percentage"] = education_attainment["2022 7 Master\'s or equivalent level"] / education_attainment['2022 Total'] * 100
education_attainment["2022 Doctoral Percentage"] = education_attainment["2022 8 Doctoral or equivalent level"] / education_attainment['2022 Total'] * 100

# Calculate education attainment absolute growth index
education_attainment["Bachelor's Aboslute Growth 2018-2022 (persons)"] = education_attainment["2022 6 Bachelor\'s or equivalent level"] - education_attainment["2018 6 Bachelor\'s or equivalent level"]
education_attainment["Master's Aboslute Growth 2018-2022 (persons)"] = education_attainment["2022 7 Master\'s or equivalent level"] - education_attainment["2018 7 Master\'s or equivalent level"]
education_attainment["Doctoral Aboslute Growth 2018-2022 (persons)"] = education_attainment["2022 8 Doctoral or equivalent level"] - education_attainment["2018 8 Doctoral or equivalent level"]

# Calculate education attainment relative growth index
education_attainment["Bachelor's Relative Growth 2018-2022 (%)"] = education_attainment["Bachelor's Aboslute Growth 2018-2022 (persons)"] / education_attainment["2018 6 Bachelor\'s or equivalent level"] * 100
education_attainment["Master's Relative Growth 2018-2022 (%)"] = education_attainment["Master's Aboslute Growth 2018-2022 (persons)"] / education_attainment["2018 7 Master\'s or equivalent level"] * 100
education_attainment["Doctoral Relative Growth 2018-2022 (%)"] = education_attainment["Doctoral Aboslute Growth 2018-2022 (persons)"] / education_attainment["2018 8 Doctoral or equivalent level"] * 100

# Calculate education attainment ratio growth index
education_attainment["Bachelor's Ratio Growth 2018-2022 (%)"] = education_attainment["2022 Bachelor's Percentage"] - education_attainment["2018 Bachelor's Percentage"]
education_attainment["Master's Ratio Growth 2018-2022 (%)"] = education_attainment["2022 Master's Percentage"] - education_attainment["2018 Master's Percentage"]
education_attainment["Doctoral Ratio Growth 2018-2022 (%)"] = education_attainment["2022 Doctoral Percentage"] - education_attainment["2018 Doctoral Percentage"]

education_attainment

,Region,2018 Total,2018 6 Bachelor's or equivalent level,2018 7 Master's or equivalent level,2018 8 Doctoral or equivalent level,2022 Total,2022 6 Bachelor's or equivalent level,2022 7 Master's or equivalent level,2022 8 Doctoral or equivalent level,Region code,...,2022 Doctoral Percentage,Bachelor's Aboslute Growth 2018-2022 (persons),Master's Aboslute Growth 2018-2022 (persons),Doctoral Aboslute Growth 2018-2022 (persons),Bachelor's Relative Growth 2018-2022 (%),Master's Relative Growth 2018-2022 (%),Doctoral Relative Growth 2018-2022 (%),Bachelor's Ratio Growth 2018-2022 (%),Master's Ratio Growth 2018-2022 (%),Doctoral Ratio Growth 2018-2022 (%)
0,MK01 Uusimaa,1206163,181144,206256,23612,1268209,200152,233489,25668,MK01,...,2.023957,19008,27233,2056,10.493309,13.203495,8.707437,0.764054,1.310748,0.066344
1,MK02 Southwest Finland,351801,44012,36427,5106,361563,49536,41981,5548,MK02,...,1.534449,5524,5554,442,12.551122,15.246932,8.656483,1.190035,1.256545,0.083060
2,MK04 Satakunta,164031,18119,10449,584,162051,19681,11409,597,MK04,...,0.368403,1562,960,13,8.620785,9.187482,2.226027,1.098859,0.670239,0.012372
3,MK05 Kanta-Häme,127293,13876,9668,752,128223,15603,10742,814,MK05,...,0.634832,1727,1074,62,12.445950,11.108813,8.244681,1.267809,0.782516,0.044068
4,MK06 Pirkanmaa,374489,50631,43914,4621,390620,58720,51585,5169,MK06,...,1.323281,8089,7671,548,15.976378,17.468233,11.858905,1.512489,1.479550,0.089333
5,MK07 Päijät-Häme,155497,17726,11036,709,156202,19475,12473,787,MK07,...,0.503835,1749,1437,78,9.866862,13.021022,11.001410,1.068253,0.887930,0.047877
6,MK08 Kymenlaakso,127758,13331,8069,341,124671,14590,8683,361,MK08,...,0.289562,1259,614,20,9.444153,7.609369,5.865103,1.268230,0.648884,0.022651
7,MK09 South Karelia,97588,10572,7573,753,96255,11555,8286,834,MK09,...,0.866448,983,713,81,9.298146,9.415027,10.756972,1.171272,0.848209,0.094837
8,MK10 South Savo,105694,10930,6872,475,103034,11706,7470,509,MK10,...,0.494012,776,598,34,7.099726,8.701979,7.157895,1.020125,0.748246,0.044601
9,MK11 North Savo,185846,21628,14388,2004,186609,24247,16486,2175,MK11,...,1.165539,2619,2098,171,12.109303,14.581596,8.532934,1.355886,1.092621,0.087226
10,MK12 North Karelia,123707,13760,9219,1177,123105,15015,10468,1246,MK12,...,1.012144,1255,1249,69,9.120640,13.548107,5.862362,1.073848,1.051024,0.060702
11,MK13 Central Finland,196196,24538,19028,2486,199018,27215,21631,2709,MK13,...,1.361183,2677,2603,223,10.909610,13.679840,8.970233,1.167762,1.170401,0.094083
12,MK14 South Ostrobothnia,140871,15522,8367,369,140280,17386,9420,402,MK14,...,0.286570,1864,1053,33,12.008762,12.585156,8.943089,1.375192,0.775665,0.024628
13,MK15 Ostrobothnia,124641,16832,12455,842,125821,18354,13769,895,MK15,...,0.711328,1522,1314,53,9.042300,10.549980,6.294537,1.083005,0.950625,0.035788
14,MK16 Central Ostrobothnia,47746,5618,3196,182,48087,6317,3650,198,MK16,...,0.411754,699,454,16,12.442150,14.205257,8.791209,1.370176,0.896655,0.030570
15,MK17 North Ostrobothnia,279589,37669,27966,3559,287818,42391,32213,3907,MK17,...,1.357455,4722,4247,348,12.535507,15.186298,9.778028,1.255414,1.189603,0.084515
16,MK18 Kainuu,55574,5849,3426,184,54338,6308,3781,181,MK18,...,0.333100,459,355,-3,7.847495,10.361938,-1.630435,1.084113,0.793545,0.002010
17,MK19 Lapland,132668,14733,9572,639,132814,16657,10929,680,MK19,...,0.511994,1924,1357,41,13.059119,14.176766,6.416275,1.436435,1.013798,0.030341
18,MK21 Åland,21990,2735,1762,107,22579,3002,1958,107,MK21,...,0.473892,267,196,0,9.762340,11.123723,0.000000,0.858069,0.659042,-0.012693

In [81]:
columns = [
    "Region code",
    "Bachelor's Aboslute Growth 2018-2022 (persons)",
    "Master's Aboslute Growth 2018-2022 (persons)",
    "Doctoral Aboslute Growth 2018-2022 (persons)",
    "Bachelor's Relative Growth 2018-2022 (%)",
    "Master's Relative Growth 2018-2022 (%)",
    "Doctoral Relative Growth 2018-2022 (%)",
    "Bachelor's Ratio Growth 2018-2022 (%)",
    "Master's Ratio Growth 2018-2022 (%)",
    "Doctoral Ratio Growth 2018-2022 (%)"
]
education_index = education_attainment[columns].copy()
education_index

,Region code,Bachelor's Aboslute Growth 2018-2022 (persons),Master's Aboslute Growth 2018-2022 (persons),Doctoral Aboslute Growth 2018-2022 (persons),Bachelor's Relative Growth 2018-2022 (%),Master's Relative Growth 2018-2022 (%),Doctoral Relative Growth 2018-2022 (%),Bachelor's Ratio Growth 2018-2022 (%),Master's Ratio Growth 2018-2022 (%),Doctoral Ratio Growth 2018-2022 (%)
0,MK01,19008,27233,2056,10.493309,13.203495,8.707437,0.764054,1.310748,0.066344
1,MK02,5524,5554,442,12.551122,15.246932,8.656483,1.190035,1.256545,0.083060
2,MK04,1562,960,13,8.620785,9.187482,2.226027,1.098859,0.670239,0.012372
3,MK05,1727,1074,62,12.445950,11.108813,8.244681,1.267809,0.782516,0.044068
4,MK06,8089,7671,548,15.976378,17.468233,11.858905,1.512489,1.479550,0.089333
5,MK07,1749,1437,78,9.866862,13.021022,11.001410,1.068253,0.887930,0.047877
6,MK08,1259,614,20,9.444153,7.609369,5.865103,1.268230,0.648884,0.022651
7,MK09,983,713,81,9.298146,9.415027,10.756972,1.171272,0.848209,0.094837
8,MK10,776,598,34,7.099726,8.701979,7.157895,1.020125,0.748246,0.044601
9,MK11,2619,2098,171,12.109303,14.581596,8.532934,1.355886,1.092621,0.087226
10,MK12,1255,1249,69,9.120640,13.548107,5.862362,1.073848,1.051024,0.060702
11,MK13,2677,2603,223,10.909610,13.679840,8.970233,1.167762,1.170401,0.094083
12,MK14,1864,1053,33,12.008762,12.585156,8.943089,1.375192,0.775665,0.024628
13,MK15,1522,1314,53,9.042300,10.549980,6.294537,1.083005,0.950625,0.035788
14,MK16,699,454,16,12.442150,14.205257,8.791209,1.370176,0.896655,0.030570
15,MK17,4722,4247,348,12.535507,15.186298,9.778028,1.255414,1.189603,0.084515
16,MK18,459,355,-3,7.847495,10.361938,-1.630435,1.084113,0.793545,0.002010
17,MK19,1924,1357,41,13.059119,14.176766,6.416275,1.436435,1.013798,0.030341
18,MK21,267,196,0,9.762340,11.123723,0.000000,0.858069,0.659042,-0.012693

In [82]:
final_df = pd.merge(base_df, education_index, on='Region code', how='inner')
final_df

,Region code,Region name (en),Region name (fi),Bachelor's Aboslute Growth 2018-2022 (persons),Master's Aboslute Growth 2018-2022 (persons),Doctoral Aboslute Growth 2018-2022 (persons),Bachelor's Relative Growth 2018-2022 (%),Master's Relative Growth 2018-2022 (%),Doctoral Relative Growth 2018-2022 (%),Bachelor's Ratio Growth 2018-2022 (%),Master's Ratio Growth 2018-2022 (%),Doctoral Ratio Growth 2018-2022 (%)
0,MK01,Uusimaa,Uusimaa,19008,27233,2056,10.493309,13.203495,8.707437,0.764054,1.310748,0.066344
1,MK02,Southwest Finland,Varsinais-Suomi,5524,5554,442,12.551122,15.246932,8.656483,1.190035,1.256545,0.083060
2,MK04,Satakunta,Satakunta,1562,960,13,8.620785,9.187482,2.226027,1.098859,0.670239,0.012372
3,MK05,Kanta-Häme,Kanta-Häme,1727,1074,62,12.445950,11.108813,8.244681,1.267809,0.782516,0.044068
4,MK06,Pirkanmaa,Pirkanmaa,8089,7671,548,15.976378,17.468233,11.858905,1.512489,1.479550,0.089333
5,MK07,Päijät-Häme,Päijät-Häme,1749,1437,78,9.866862,13.021022,11.001410,1.068253,0.887930,0.047877
6,MK08,Kymenlaakso,Kymenlaakso,1259,614,20,9.444153,7.609369,5.865103,1.268230,0.648884,0.022651
7,MK09,South Karelia,Etelä-Karjala,983,713,81,9.298146,9.415027,10.756972,1.171272,0.848209,0.094837
8,MK10,South Savo,Etelä-Savo,776,598,34,7.099726,8.701979,7.157895,1.020125,0.748246,0.044601
9,MK11,North Savo,Pohjois-Savo,2619,2098,171,12.109303,14.581596,8.532934,1.355886,1.092621,0.087226
10,MK12,North Karelia,Pohjois-Karjala,1255,1249,69,9.120640,13.548107,5.862362,1.073848,1.051024,0.060702
11,MK13,Central Finland,Keski-Suomi,2677,2603,223,10.909610,13.679840,8.970233,1.167762,1.170401,0.094083
12,MK14,South Ostrobothnia,Etelä-Pohjanmaa,1864,1053,33,12.008762,12.585156,8.943089,1.375192,0.775665,0.024628
13,MK15,Ostrobothnia,Pohjanmaa,1522,1314,53,9.042300,10.549980,6.294537,1.083005,0.950625,0.035788
14,MK16,Central Ostrobothnia,Keski-Pohjanmaa,699,454,16,12.442150,14.205257,8.791209,1.370176,0.896655,0.030570
15,MK17,North Ostrobothnia,Pohjois-Pohjanmaa,4722,4247,348,12.535507,15.186298,9.778028,1.255414,1.189603,0.084515
16,MK18,Kainuu,Kainuu,459,355,-3,7.847495,10.361938,-1.630435,1.084113,0.793545,0.002010
17,MK19,Lapland,Lappi,1924,1357,41,13.059119,14.176766,6.416275,1.436435,1.013798,0.030341
18,MK21,Åland,Ahvenanmaa,267,196,0,9.762340,11.123723,0.000000,0.858069,0.659042,-0.012693

In [83]:
final_df.to_csv('../data/Indices/education_attainment_index.csv', index=False)