## Add the region of company from postal code from company_register

In [ ]:
import pandas as pd

In [ ]:
# dtype of all columns are string
df = pd.read_csv('./data/company_register/full_prh_data.csv', sep=';', dtype={'business_line_code': str, 'postal_post_code': str})
df = df[['company_name', 'business_line_code', 'postal_post_code']]

post_code_region_mapping = pd.read_csv('./data/region_city_data/post_code_to_region.csv', dtype={'post_code': str})
post_code_region_mapping = post_code_region_mapping.set_index('post_code').to_dict()['region']

df['postal_region'] = df['postal_post_code'].map(post_code_region_mapping)

In [ ]:
df['postal_post_code'].isna().sum()

3214

In [ ]:
df['postal_region'].isna().sum()

23190

In [ ]:
df.dropna(inplace=True)

In [ ]:
df

,company_name,business_line_code,postal_post_code,postal_region
0,Profiteam Oy,79900,00500,Uusimaa
1,Ruskalinna Oy,79900,95700,Lappi
2,Saaga Safarit Oy Ukkohalla,79900,90100,Pohjois-Pohjanmaa
3,Oy SaariTours Ab,79120,10940,Uusimaa
4,Nordic JD Oy,79120,02620,Uusimaa
...,...,...,...,...
330352,Keijo Siikaluoma Oy,88109,90130,Pohjois-Pohjanmaa
330353,Stella Kotipalvelut Oy,88991,00380,Uusimaa
330354,Norlandia Päiväkodit Oy,88911,02600,Uusimaa
330355,Palvelukoti Länsituuli Oy,88101,00300,Uusimaa
330357,Etelä-Suomen Sosiaali-Info Oy,88999,04130,Uusimaa

In [ ]:
df.to_csv('./data/company_register/full_prh_data_with_region.csv', index=False)

## Process data mapping from municipality -> region

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('./data/region_city_data/mapper_updated.csv', sep=';')

# strip the whitespace from the all columns that is string
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
# df.columns = ['Name of Municipality in Finnish', 'Number of municipality','Code of region', 'Name of region in Finnish']

# remove last column
df = df.iloc[:, :-1]

In [ ]:
df.to_csv('./data/region_city_data/municipality_region_map.csv', index=False)

## Handy code to convert NACE Code

In [ ]:
# create a mapping from nace code to nace class. Eg: 79 -> N
nace_class = pd.read_excel("./data/nace_codes/nace_classification.xlsx")
nace_class.columns = nace_class.iloc[0]
nace_class = nace_class.iloc[1:]
nace_class = nace_class[nace_class['Level'] == '2'] 
nace_class = nace_class[['NACE Rev. 2', 'Section']]
nace_class.columns = ['NACE_Code', 'Section']
nace_class.reset_index(drop=True, inplace=True)

# # convert nace_class to dictionary
# nace_class_dict = nace_class.set_index('NACE Rev. 2').to_dict()['Section']