In [8]:
import openpyxl
import pandas as pd

In [9]:
company_register = pd.read_csv(r"C:\Users\pvs31\Desktop\Data Science Project\OP-heist-project\data\company_register\2022_04_13.csv",sep=";",encoding="latin-1")
nace_class = pd.read_excel(r"C:\Users\pvs31\Desktop\Data Science Project\OP-heist-project\data\nace_codes\nace_classification.xlsx")
nace_class.columns = nace_class.iloc[0]
nace_class = nace_class.iloc[1:]
nace_class.reset_index(drop=True,inplace=True)

In [15]:
nace_class.head()

0 NACE Rev. 2 Section Level                                               Text
0          01       A     2  Crop and animal production, hunting and relate...
1        01.1       A     3                     Growing of non-perennial crops
2       01.11       A     4  Growing of cereals (except rice), leguminous c...
3       01.12       A     4                                    Growing of rice
4       01.13       A     4  Growing of vegetables and melons, roots and tu...

In [14]:
company_register['blc_crop'] = company_register['business_line_code'].str[:2]
merged_df = company_register.merge(nace_class, left_on='blc_crop', right_on='', how='inner')

# Drop the temporary "first_two_numbers" column if needed
merged_df.drop(columns=['first_two_numbers'], inplace=True)

,company_name,business_id,company_form,business_line_code,business_line_name,registration_date,postal_address,postal_post_code,postal_city,street_address,street_post_code,street_city,liquidation,registered office
0,Profiteam Oy,2020672-7,OY,79900,Turist- och bokningsservice,2006-02-17,PÃ¤Ã¤skylÃ¤nrinne 7 A 21,500.0,HELSINKI,NaN,NaN,NaN,NaN,HELSINGFORS
1,Ruskalinna Oy,2047614-5,OY,79900,Turist- och bokningsservice,2006-07-07,Kolarintie 23,95700.0,PELLO,Museotie 33,95700.0,PELLO,NaN,PELLO
2,Saaga Safarit Oy Ukkohalla,2012427-0,OY,79900,Turist- och bokningsservice,2006-01-13,"Kauppurienkatu 12, 4 krs.",90100.0,OULU,Ukkohallantie,89400.0,HYRYNSALMI,NaN,HYRYNSALMI
3,Oy SaariTours Ab,2083316-5,OY,79120,Researrangemang,2006-12-22,Lotsgatan 19,10940.0,HANGONKYLÃ,Korkeavuorenkatu 10 A 7,10900.0,HANKO,NaN,HANGÃ
4,Nordic JD Oy,2016470-7,OY,79120,Researrangemang,2006-01-31,Luuvantie 24 B 6,2620.0,ESPOO,NaN,NaN,NaN,NaN,ESBO