In [2]:
import openpyxl
import pandas as pd

In [33]:
company_register = pd.read_csv("../data/company_register/full_prh_data.csv",sep=";",encoding="latin-1",dtype={'business_line_code':str})
nace_class = pd.read_excel("../data/nace_codes/nace_classification.xlsx")
nace_class.columns = nace_class.iloc[0]
nace_class = nace_class.iloc[1:]
nace_class.reset_index(drop=True,inplace=True)
company_register = company_register[["company_name","business_id","business_line_code"]]

In [34]:
#merging company register with nace classification
company_register['blc_crop'] = company_register['business_line_code'].str[:2]
merged_df = company_register.merge(nace_class, left_on='blc_crop', right_on='NACE Rev. 2', how='left')

merged_df.drop(columns=['blc_crop'], inplace=True)

'''
#merging the merged df with mk region breakdown which has a higher level classification
mkregion_breakdown['ind_crop'] = mkregion_breakdown['Industry'].str[:1]
merged_df = merged_df.merge(mkregion_breakdown, left_on='Section', right_on='ind_crop', how='left')

merged_df.drop(columns=['ind_crop'], inplace=True)'''

"\n#merging the merged df with mk region breakdown which has a higher level classification\nmkregion_breakdown['ind_crop'] = mkregion_breakdown['Industry'].str[:1]\nmerged_df = merged_df.merge(mkregion_breakdown, left_on='Section', right_on='ind_crop', how='left')\n\nmerged_df.drop(columns=['ind_crop'], inplace=True)"

In [35]:
merged_df

,company_name,business_id,business_line_code,NACE Rev. 2,Section,Level,Text
0,Profiteam Oy,2020672-7,79900,79,N,2,"Travel agency, tour operator and other reserva..."
1,Ruskalinna Oy,2047614-5,79900,79,N,2,"Travel agency, tour operator and other reserva..."
2,Saaga Safarit Oy Ukkohalla,2012427-0,79900,79,N,2,"Travel agency, tour operator and other reserva..."
3,Oy SaariTours Ab,2083316-5,79120,79,N,2,"Travel agency, tour operator and other reserva..."
4,Nordic JD Oy,2016470-7,79120,79,N,2,"Travel agency, tour operator and other reserva..."
...,...,...,...,...,...,...,...
330354,Norlandia PÃ¤ivÃ¤kodit Oy,0972480-6,88911,88,Q,2,Social work activities without accommodation
330355,Palvelukoti LÃ¤nsituuli Oy,0953977-4,88101,88,Q,2,Social work activities without accommodation
330356,RyhmÃ¤koti Kestintupa Oy,0976723-2,88101,88,Q,2,Social work activities without accommodation
330357,EtelÃ¤-Suomen Sosiaali-Info Oy,0969026-3,88999,88,Q,2,Social work activities without accommodation
330358,ELA-Palvelukeskus Oy,0955743-8,88109,88,Q,2,Social work activities without accommodation

In [36]:
merged_df = merged_df.drop_duplicates(subset=["company_name"])
merged_df.to_csv("../data/combined/company_with_nace_codes.csv", index=False)

In [37]:
comp_reg = pd.read_csv("../data/company_register/full_prh_data_with_region.csv",sep=",",encoding="latin-1", dtype={'postal_post_code':str})
comp_reg = comp_reg.drop(columns=["business_line_code"])
merged_df = comp_reg.merge(merged_df, left_on='company_name', right_on='company_name', how='left')
merged_df.head()
merged_df.to_csv("../data/combined/company_nace_region.csv", index=False)

In [38]:
merged_df

,company_name,postal_post_code,postal_region,business_id,business_line_code,NACE Rev. 2,Section,Level,Text
0,Profiteam Oy,00500,Uusimaa,2020672-7,79900,79,N,2,"Travel agency, tour operator and other reserva..."
1,Ruskalinna Oy,95700,Lappi,2047614-5,79900,79,N,2,"Travel agency, tour operator and other reserva..."
2,Saaga Safarit Oy Ukkohalla,90100,Pohjois-Pohjanmaa,2012427-0,79900,79,N,2,"Travel agency, tour operator and other reserva..."
3,Oy SaariTours Ab,10940,Uusimaa,2083316-5,79120,79,N,2,"Travel agency, tour operator and other reserva..."
4,Nordic JD Oy,02620,Uusimaa,2016470-7,79120,79,N,2,"Travel agency, tour operator and other reserva..."
...,...,...,...,...,...,...,...,...,...
307163,Keijo Siikaluoma Oy,90130,Pohjois-Pohjanmaa,0973398-0,88109,88,Q,2,Social work activities without accommodation
307164,Stella Kotipalvelut Oy,00380,Uusimaa,0968381-3,88991,88,Q,2,Social work activities without accommodation
307165,Norlandia PÃ¤ivÃ¤kodit Oy,02600,Uusimaa,0972480-6,88911,88,Q,2,Social work activities without accommodation
307166,Palvelukoti LÃ¤nsituuli Oy,00300,Uusimaa,0953977-4,88101,88,Q,2,Social work activities without accommodation
307167,EtelÃ¤-Suomen Sosiaali-Info Oy,04130,Uusimaa,0969026-3,88999,88,Q,2,Social work activities without accommodation